.main {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    height: max-content;
    flex-wrap: wrap;
}

.elem {
    border: 1px solid black;
    margin: 20px 10px 0 10px;
    background-color: #b9d9fe;
    height: max-content;
    display: flex;
    height: max-content;
    align-items: center;
    border-radius: 15px;
    border: 0;
    padding: 2px 7px 2px 10px;
}

.text {
    margin-right: 10px;
    color: #006efc;
}

.button {
    border: 0;
    border-radius: 50%;
    background-color: #006efc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #5a92e3;
}
.button:active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 15px;
    width: 15px;
}
